<!-- A Simple form to get the IP adress of the device (here Raspberrypi) to which want to send request to control over the local Network -->

<form action="/remote" method="GET">
<input type="text" name="ha"/>
<button type="submit">Submit</button>
</form>